<template>
    <ul class="chat">
        <li class="left clearfix" v-for="message in messages">
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">
                        {{ message.user.name }}
                    </strong>
                </div>
                <p>
                    {{ message.message }}
                </p>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        props: {
            messages: Array,
            user: [Array,Object]
        },
        data(){
            return{
            }
        },
        created(){
            Echo.private('user.'+this.user.id) // get the channel base from the user id or the sender
            .listen('PrivateMessage', (event) => {
                this.messages.push({
                    message: event.message.message,
                    user: event.user
                });
            });
        },
        methods: {

        }
    };
</script>