<template>
    <div class="card card-default">
        <div class="card-header">Chats</div>

        <div class="card-body">
            <chat-messages :messages="messages" :user="user"></chat-messages>
        </div>
        <div class="card-footer">
            <chat-form @messagesent="addMessage" :user="user"></chat-form>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        user:[Array,Object],
        receiver:[Array,Object]
    },
    data(){
        return{
            messages: [],
        }
    },
    created(){
        this.fetchMessages();
    },
    methods:{
        addMessage(message) {
            this.messages.push(message);
            message.receiver = this.receiver;
            axios.post('/messages', message).then(response => {
                console.log(response.data)
            });
        },
        fetchMessages() {
            axios.get('/messages?receiver='+this.receiver.id).then(response => {
                this.messages = response.data;
            console.log(this.messages);
            });
        },
    }
}
</script>

